.title-card {
  width: 100%;
  /* height: 100%; */
  background: var(--stak-white);
  box-shadow: var(--tile-shadow);
  border-radius: var(--border-radius-10);

  display: flex;
  align-items: center;
  padding: 1.125rem 3rem;
  /* margin: 0 1.25rem; */

  justify-content: space-between;
}

.title-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-card__text h2 {
  font-weight: var(--form-title-text-weight);
  font-size: var(--form-title-text-size);
  color: var(--stak-dark-gray);
}

.parent-frame {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.parent-frame__links {
  padding: 1.25rem 0;
}

.parent-frame__form {
  padding: 1.25rem;
  flex: 1;
}

.scroll-frame {
  display: flex;

  flex: 1;
  height: 100%;
  align-self: stretch;
  overflow-y: scroll;
}

.content-frame {
  display: flex;

  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.content-frame__links {
  padding: 0 1.25rem;
  font-size: var(--form-sidelink-text-size);
}

.content-frame__links li {
  display: flex;
  max-width: calc(var(--form-sidelink-tile-width - 2.5rem));
  overflow-wrap: break-word;

  transition: 0.1s ease;
}

@media (max-width: 768px) {
  .links-content-frame li {
    font-size: 14px;
  }
}

.content-frame__links li:hover,
.content-frame__links li:active {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.trash-icon {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
}

.link-container:hover .trash-icon {
  visibility: visible;
  opacity: 1;
}

.category-frame {
  display: flex;

  flex-direction: column;
  padding: 0 1.25rem;
  align-self: stretch;
}

.category-frame__input-frame {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  gap: 1rem;
}

.category-frame__input-frame mapbox-address-autofill {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.separator {
  position: relative;
  display: block;
  border-top: 1px solid var(--stak-light-gray);
  width: 70%;
  margin: 0.7rem auto;
}
