.navbar {
  top: var(--top-border-height);
  left: var(--main-border-thickness);
  height: var(--navbar-height);
  background-color: var(--stak-black);
  z-index: 5;
}

.nav-items {
  position: relative;
  display: flex;
  gap: 0.25rem;
  padding: 0px 1.5rem;
  height: 100%;
  align-items: center;
}

.breadcrumbs-container {
  position: absolute;
  right: 100px;
}

.nav-item {
  position: relative;
  height: var(--navbar-height);
  display: flex;
  align-items: center;

  color: var(--stak-black);
  color: white;
  font-size: var(--navbar-text-size);

  z-index: 100;
  transition: all 0.3s ease;
}

.nav-item span {
  display: flex;
  align-items: center;
  width: auto;
  height: var(--navbar-height);
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  background-color: #eee;
  color: black;
  border-radius: var(--border-radius-20) var(--border-radius-20) 0 0;
  cursor: pointer;
}

.nav-item__active {
  background-color: #eee;
  color: black;
  border-radius: var(--border-radius-20) var(--border-radius-20) 0 0;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  opacity: 0;
  left: 0;
  top: calc(100%);
  width: 200px;

  background-color: var(--tile-background);
  box-shadow: var(--tile-shadow);
  border-radius: var(--border-radius-10);

  font-weight: var(--navbar-text-weight);
  font-size: var(--navbar-text-size);

  transform: translateY(-20px);
  transition:
    opacity 0.1s ease,
    transform 0.3s ease;

  pointer-events: None;

  z-index: 1;
}

.dropdown-menu::before {
  position: absolute;
  top: calc(var(--arrow-size) * -1);

  content: '';
  width: 0;
  height: 0;

  border-left: var(--arrow-size) solid transparent;
  border-right: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid var(--stak-white);
}

.dropdown-menu__left-arrow::before {
  left: 25px;
}
.dropdown-menu__right-arrow::before {
  right: 10px;
}

.dropdown-menu__avatar {
  position: absolute;
  left: -10rem;
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.dropdown-menu li {
  color: var(--stak-dark-gray);
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.dropdown-menu li:hover {
  background-color: var(--hover-bar);
  cursor: pointer;
}

.nav-item:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu:hover {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.icon:hover {
  filter: var(--main-border-hover-shadow);
  cursor: pointer;
}

.icon:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
